@import url('../../../public/Essentials/general-sans.css');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'GeneralSans-Variable', sans-serif;
}

select {
  margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.9rem;
    display: none;

    @media only screen and (max-width: 80rem) {
        display: none;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 50%, 0.5);
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 40%);
}

::selection {
    background-color: #FF805B;
    color: hsl(0, 0%, 0%);
}

body {
    background-color: hsl(0, 0%, 8%);
    background-color: #000;
    color: hsl(0, 0%, 100%);
    accent-color: #000;
}