@use "../../../app/styles/essentials";
@import "../../../app/styles/essentials";

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0, 10%);

    .footerwraper {
        width: 100%;
        max-width: 200rem;
        display: flex;
        justify-content: space-between;
        padding: 12rem 10rem 8rem 10rem;
        flex-direction: row;
        gap: 16rem;

        .linklist {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 4rem;

            .linklabel{
                display: flex;
                padding: 0.5rem 0rem;

                font-family: 'Space Grotesk';
                text-transform: uppercase;
                color: hsl(0, 0%, 60%);
                font-size: 1.4rem;
                font-weight: 500;
            }

            .linkcolumn {
                display: flex;
                flex-direction: column;

                @include smooth;


                &:hover {
                    .linkitem {
                        opacity: 0.66;
                    }
                }

                .linkitem {
                    text-decoration: none;
                    font-family: 'Space Grotesk';
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    @include smooth;
                    padding: 0.4rem 0rem;

                    &:hover {
                        opacity: 1;
                        transform: translateX(0.4rem);
                    }
                }
            }
        }

        .socialscontainer {
            display: flex;
            gap: 3rem;
            flex-direction: column;
            align-items: flex-start;
            .socials {
                display: inline-flex;
                flex-direction: row;
                gap: 0.6rem;

                .socialmedialink {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: hsl(0, 0, 18%);
                    border-radius: 0.4rem;
                    padding: 2rem;
                    border-radius: 6rem;
                    @include smooth();

                    &:hover {
                        border-radius: 2rem;
                        background: hsl(0, 0, 24%);
                    }
                }
            }
        }


    }
}