@use "../../../app/styles/essentials";
@import "../../../app/styles/essentials";

.navwraper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 10rem;
    position: absolute;
    top: 0;
    flex-direction: row;

    .nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .rightwraper {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Space Grotesk';
                font-size: 1.66rem;
                border-radius: 10rem;
                font-weight: 700;
                background-color: none;
                background: transparent;
                color: #fff;
                cursor: pointer;
                padding: 4rem 2rem;
            }
        }

        .primarybutton {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-family: 'Space Grotesk';
            text-decoration: none;
            color: #fff;
            font-size: 2rem;
            font-weight: 500;

            .otoicon {
                height: 1.8rem;
                fill: #fff;
            }
        }

        .linkslist {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 4rem;

            .link {
                color: #fff;
                text-decoration: none;
                font-size: 1.66rem;
                font-weight: 500;
                text-transform: uppercase;
                padding: 1.6rem 0rem;

                font-family: 'Space Grotesk';
                @include smooth;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}