@use '../styles/essentials';
@import '../styles/essentials';

.container {
    min-height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    // background-image: url('https://images.unsplash.com/photo-1635776062360-af423602aff3?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-color: hsl(0, 0, 80%);
    overflow: hidden;

    .content{
        position: absolute;
        display: flex;
        min-height: 50rem;
        width: 100%;
        background-color: hsl(0, 0, 0%, 0.8);
        backdrop-filter: blur(20rem);
        margin: 10rem;
        border-radius: 1rem;
        border: 0.16rem solid hsl(0, 0, 100%, 0.1);

    }

    .statusbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .statusbarcontent {
            display: flex;
            flex-direction: row;
            margin: 2rem;

            background-color: hsl(0, 0, 0%, 0.4);
            border: 0.16rem solid hsl(0, 0, 100%, 0.1);
            padding: 0.6rem 0.6rem;
            align-items: center;
            backdrop-filter: blur(20rem);
            justify-content: center;
            border-radius: 2.2rem;

            .otobtn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: none;
                background: none;
                cursor: pointer;
                height: 5.4rem;
                width: 5.4rem;
                border-radius: 1.6rem;
                // @include smooth;
                transition: 0.1s ease-in-out;
                outline: 0.2rem solid transparent;


                &:nth-child(3){
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        height: 0.3rem;
                        width: 0.6rem;
                        border-radius: 10rem;
                        background-color: #FF805B;
                    }
                }



                .otoicon {
                    border-radius: 100%;
                    fill: #fff;
                    @include smooth;
                }


                &:hover {
                    .otoicon {
                        fill: #fff;
                    }

                    outline: 0.2rem solid hsl(0, 0, 100%, 0.26);
                    background-color: hsl(0, 0, 100%, 0.1);
                }
            }
        }

    }
}