.wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        background-color: #121212;
        gap: 1rem;
        font-size: 1.26rem;
        font-weight: 500;
        color: hsl(0, 0%, 30%);
        border-bottom: 1px solid #27272a;

        .searchicon {
            height: 1.6rem;
            width: 1.6rem;
            stroke: #fff;
        }
    }
}